<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>期限間近リスト</title>
</head>

<body>
	<header th:replace="~{Limitsheader}"></header>
	<hr>
	<main>
		<a href="/limits">全商品</a>
		<a th:each="c:${categories}" th:href="'/limits?categoryId='+${c.id}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
		<table border="1">
			<tr>
				<th>消費期限
					<br>賞味期限
				</th>
				<th>期限</th>
				<th>食品名</th>
				<th>カテゴリ</th>
				<th>登録日</th>
				<th>個数</th>
				<th>消費</th>
				<th>更新</th>
				<th>削除</th>
			</tr>
			<tr th:each="food:${foods}" th:if="${food.usersId} == ${@musers.id}">
				<td>
					<th:block th:if="${food.limits}" th:text="消費">
					</th:block>
					<th:block th:unless="${food.limits}" th:text="賞味">
					</th:block>
				</td>
				<th:block th:if="${food.daysBetween eq 2}">
					<td style="background-color: sandybrown; color: white;">
						<span th:text="'あと' + ${food.daysBetween} + '日'"></span>
					</td>
				</th:block>
				<th:block th:if="${food.daysBetween eq 1}">
					<td style="background-color: red; color: white;">
						<span th:text="'あと' + ${food.daysBetween} + '日'"></span>
					</td>
				</th:block>
				<th:block th:if="${food.daysBetween eq 0}">
					<td th:text="期限当日"></td>
				</th:block>
				<th:block th:if="${food.daysBetween lt 0}">
					<td th:text="期限が切れています"></td>
				</th:block>
				<th:block th:if="${food.daysBetween ge 3}">
					<td th:text="'あと' + ${food.daysBetween} + '日'"></td>
				</th:block>
				<td th:text=" ${food.foodname}"></td>
				<td th:text="${food.category.name}"></td>
				<td th:text="${food.createAt}"></td>
				<td th:text="${food.quantity}"></td>
				<td>
					<form th:action="@{/limits/{foodId}/eat(foodId=${food.id})}" method="post">
						<input type="number" name="eatNumber" value="0">
						<button>食</button>
					</form>
				</td>
				<td>
					<form th:action="@{/limits/{foodId}/edit(foodId=${food.id})}" method="get">
						<button>更新</button>
					</form>
				</td>
				<td>
					<form th:action="@{/limits/{foodId}/delete(foodId=${food.id})}" method="post">
						<button>削除</button>
					</form>
				</td>
			</tr>
			</th:block>
		</table>

		<form action="/shop/lost" method="post">
			<p>
				クックパッド♪
				<input type="text" name="search">
				<button>タッチ！</button>
				→<a th:href="${url}">検索</a>
			</p>
		</form>

	</main>
</body>

</html>